/*限制窗口最小，避免缩放变形*/
html,body,.section {
    min-height: 600px;
    min-width: 1000px;
}
.next {
    position: fixed;
    bottom: 120px;
    right: 10%;
    z-index: 999;
}
.next-upDown {
    animation: next-down 1s infinite;
}
@keyframes next-down {
    0%{
        bottom: 10%;
    }
    50%{
        bottom: 8%;
    }
    100%{
        bottom: 10%;
    }
}
.section1 {
    background: #fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}

.fly {
    position: absolute;
    right: 20%;
    top: 10%;
}

.shirt01 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}

.goods {
    position: absolute;
    left: 50%;
    margin-left: -420px;
    bottom: 150px;
}

/*第二屏开始*/
.section2 {
    background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
    z-index: 2;
}

.computer {
    width: 990px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.search {
    width: 222px;
    height: 45px;
    background: url("../images/search.png");
    position: absolute;
    top: 30%;
    right: -30px;
    display: none;

}

.search-02-1 {
    position: absolute;
    bottom: 300px;
    right: 370px;
    display: none;
}

.search_words {
    position: absolute;
    right: 30px;
    top: 4px;
    opacity: 0;
}

.sofa-goods {
    height: 100px;
    position: absolute;
    bottom: 217px;
    right: 270px;
    display: none;

}

.shirt-02 {
    position: absolute;
    bottom: 345px;
    left: 395px;
    width: 100px;
    display: none;
    z-index: 6;
}

.cover_box {
    position: absolute;
    bottom: 345px;
    right: 496px;
    width: 102px;
    height: 90px;
    z-index: 5;
    background-color: #fff;
    display: none;
}

/*第三屏幕制作*/
.section3 {
    background: #ef674d;
    z-index: 1;

}

.main {
    position: absolute;
    width: 700px;
    height: 500px;
    background: url("../images/main.png") no-repeat center center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.select {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 8px;
}

.btn-01 {
    position: absolute;
    bottom: 10px;
}

.btn-01-a {
    opacity: 0;
}

.img-01 {
    position: absolute;
    top: 0;
}

.img-01-a {
    opacity: 0;
}


.shirt-03,
.tlf {
    position: absolute;
    left: 115px;
    bottom: 200px;
    display: none;
}

/*第四屏开始*/
.section4 {
    background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;
}

.cloud {
    position: absolute;
    left: 50%;
    bottom: 550px;
}

.words-04 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
}

.words-04-a {
    opacity: 0;
}

.car {
    width: 500px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 65;

}

.car-tlf {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    display: none;
}

.kong_car {
    z-index: 60;
}

.note {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;
    display: none;
}

.note-img {
    position: absolute;
    top: 60px;
    left: 60px;
    opacity: 0;
}

/*第五屏开始*/
.section5 {
    background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);
    /*overflow: hidden;*/
    perspective: 500px;
    -webkit-perspective: 500px;
    z-index: 1;


}

.words-05 {
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 0;
}

.card-05 {
    position: absolute;
    left: 20%;
    bottom: 200px;
    z-index: 60;
}

.order-05 {
    position: absolute;
    left: 27%;
    bottom: 290px;
}
.t1f-05 {
    position: absolute;
    bottom:800px ;
    left: 25%;
    display: none;
}
.mouse-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.hand-05 {
    position: absolute;
    right: 24%;
    bottom: -300px;
}
.mouse-05 {
    position: absolute;
    right: 20%;
    bottom: 200px;
}
.mouse-05-a {
    opacity: 0;
}
/*第六屏幕*/
.section6 {
    background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;
    animation: bg-go 3s;
}
@keyframes bg-go {
    50%{
        background-position: 0 0;
    }
}
.box-06 {
    position: absolute;
    left: 123px;
    bottom: 500px;
    z-index: 50;
}
.car-06{
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 51;
}
.cloud-06 {
    position: absolute;
    bottom: 550px;
    left: 50%;
    animation: cloud6 50s infinite;
}
.cloud-07{
    position: absolute;
    bottom: 580px;
    left: 30%;
    animation: cloud7 50s infinite;
}
.pop-06 {
    position: absolute;
    bottom: 119px;
    right: 48%;
    opacity: 0;
}
.man-06 {
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 100px;
}
.women-06{
    position: absolute;
    right: 315px;
    bottom: 116px;
    height: 123px;
    display: none;
    z-index: 1;
}
.works-06 {
    position:absolute;
    left: 10%;
    bottom: 479px;
    display:none;
}
.door {
    position: absolute;
    right: 285px;
    bottom: 116px;
    opacity: 0;
}
.check {
    position: absolute;
    right: 445px;
    bottom: 400px;
    z-index: 40;
    opacity: 0;
}
/*第七屏开始*/
.section7 {
    background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;
}
.star {
    position: absolute;
    left: 50%;
    bottom: 443px;
    margin-left: -295px;
    width: 0;
    height: 15px;
    background: url(../images/star.png);
    -webkit-background-size: 97px;
    background-size: 98px;
}
.good-07 {
    position: absolute;
    bottom: 380px;
    left: 50%;
    margin-left: -280px;
    opacity: 0;
}
/*第八屏开始*/
.section8 {
    background: url(../images/ksgw.png);
}
.beginShopping{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 365px;
}
.btn-08-a {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.again-08 {
    position: absolute;
    bottom: 403px;
    left: 50%;
    margin-left: 240px;
    cursor: pointer;
}
.hand-08 {
    position: absolute;
    bottom: 0;
    left: 50%;
}
.go {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

/*///动画组*/
.updown { /* 类似于js的调用函数 */
    animation: fly 3s linear infinite;
}

.shirt-updown {
    animation: shirt01 2s linear infinite;
}

/*第一屏动画*/
@keyframes fly {
    0% {
        top: 10%;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 10%;
    }
}

@keyframes shirt01 {
    0% {
        bottom: 335px
    }
    50% {
        bottom: 345px;
    }
    100% {
        bottom: 335px;
    }
}

/*第四屏动画*/
.cloud_fly {
    animation: cloud 60s linear infinite;
}

@keyframes cloud {
    0% {
        left: 50%;
    }
    50% {
        left: -10%;
    }
    100% {
        left: 50%;
    }
}
/*第五屏字动画*/
.words-05-a{
    animation: words5 3s both;
    /*animation-fill-mode: forwards;动画保持在最后一阵状态且不循环*/
}
@keyframes words5 {
    100%{
        transform: translateZ(100px) rotateY(360deg);
        opacity: 1;
    }
}
/*第六屏幕云动画*/
@keyframes cloud6 {
     50%{
         left: 10%;
     }
     100%{
         left: 50%;
     }
 }
@keyframes cloud7 {
    50%{
        left: 0%;
    }
    100%{
        left: 30%;
    }
}